@font-face {
    font-family:"fuenteOshin";
    src: url(fuentes/Pangolin-Regular.ttf);
}

body{
    font-family: "fuenteOshin";
    background-image: url(img/fondo.avif);
    background-size: cover;
}
header{
    text-align: center;
    background-image: url(img/header.webp);
    background-size:contain;
    margin-top: -0.5%;
    margin-left: -0.5%;
}

#logo{
border-radius: 50%;
width: 500px;
  height: 500px;

}
h1,.tituloSeccion{
    background-color:  rgb(88, 15, 112);
    color: rgb(250, 250, 250);
    font-size: 40px;
}
.fondosUl{
    background-color: rgb(203, 167, 207);
    font-size: 30px;
}



ul li span{
    font-weight: bold;
}




footer{
    background-color:  rgb(88, 15, 112);
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}
.botonIndex{
    background-color:rgb(88, 15, 112);
    border-color:rgb(255, 240, 245); 
    color: rgb(255, 240, 245);
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 5%;
    font-family: "fuenteOshin";
    border-radius: 5%;
}
.gh{
    width: 30px;
    height: 30px;
}